.nested-fields
  .input-group
    = f.input :name,
              label: "#{ t('simple_form.labels.pericopes.name') } #{local_assigns[:pnum]}",
              placeholder: 'Genesis 1:1-3:21',
              autofocus: true,
              class: 'input-group horizontal_form'
    %span(class = 'input-group-btn')
      = link_to_remove_association '', f, class: 'delete', style: 'margin-bottom:-9px', id: "delete_pericope_#{local_assigns[:pnum]}"
