<header>
  <h1><%= t('activerecord.models.studynote', count: 2) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div id="studynotes">
  <table id="studynotes">
  <% @studynote.each do |studynote| %>
    <tr>
      <td><%= link_to studynote.title, studynote %></td>
      <td>
        <table id="pericopes">
          <% studynote.pericopes.each do |pericope| %>
          <tr>
            <td><%= pericope.name %></td>
          </tr>
        </table>
      </td>
      <% end %>
    </tr>
  <% end %>
</div>
