#studynote
  - title(@studynote.note, t('activerecord.models.studynote', count: 2))
  %header
    #title
      %h1= studynote.title
    %ul.actions
      - if policy(studynote).update?
        %li= link_to t(:edit_item, item: Studynote.model_name.human), edit_studynote_path(studynote), class: "edit"
      - if policy(@studynote).destroy?
        %li= link_to t(:delete_item, item: Studynote.model_name.human), studynote_path(studynote),
          method: :delete,
          data: { confirm: t(:sure_to_delete_studynote) },
          class: "delete"
  %header
    %p
    #pericope
      = studynote.pericopes.collect(&:name).join(' | ')
    #studynote_note
      %p= simple_format studynote.note
  %table#attributes
    %tr
      %th
        = t('author')
      %td
        #author
          = studynote.author_username
    %tr
      %th
        = t('created')
      %td
        #created_at
          = timeago(studynote.created_at)
        -#= t('ago')
  = link_to t(:new_studynote), new_studynote_path, class: "new"
