<% title(@studynote.note, t(:studynotes)) %>

<header>
  <h2><%= @studynote.title %></h2>
  <p><% @studynote.pericopes.each do |pericope| %>
    <%= pericope.name %>
  <% end %></p>
  <p><%= @studynote.note %></p>
</header>
