<header>
  <ul class="actions">
    <h1><%= t(:study_notes) %></h1>
    <%= link_to t(:new_study_note), new_study_note_path, class: "new" %>
  </ul>
</header>


<div id="study_notes">
  <% @study_note.each do |study_note| %>
      <p><%= link_to study_note.title, study_note %></p>
  <% end %>
</div>

