<header>
  <h1><%= t(:study_notes) %></h1>
</header>

<%= link_to t(:new_study_note), new_study_note_path %>

<div id="study_notes">
  <% @study_note.each do |study_note| %>
      <h2><%= link_to study_note.title, study_note %></h2>
  <% end %>
</div>

