<header>
<h1><%= t(:biblebooks) %></h1>
  <ul class="actions">
    <li><%= link_to t(:new_biblebook), new_admin_biblebook_path, class: 'new' %></li>
  </ul>
</header>

<div id="biblebooks">
  <% @biblebook.each do |biblebook| %>
      <h2>
        <%= link_to "#{biblebook.booksequence} - #{biblebook.name} - #{biblebook.testament}",
                      [:admin, biblebook] %>
      </h2>
  <% end %>
</div>
