- title(t("about"))
%h3= t("about_this_website")
%p
  Als je nadenkt over een bijbelgedeelte, dan komt het vaak voor dat je denkt,
  hier ben ik toch al eens eerder mee bezig geweest?
  %br
    Heb ik hier niet eens een preek over gehoord? Of op een bijbelkring over nagedacht? Of een goed boek over gelezen? Maar vind dan maar eens terug waar en wat dat dan was!
  %p
    Op deze website kan je per perikoop (bijbelgedeelte) vastleggen wat je ervan denkt of ervan gehoord hebt.
    %br En je kan bijbelstudies van anderen lezen en daar zelf door opgebouwd worden.
    %p
      Dit is een platform voor bijbelstudies. Net als bij andere platforms als Facebook, Uber of AirBnB komt de waarde van de site niet van de bouwer van de site, maar juist van de gebruikers. Als jullie veel, goede bijbelstudies plaatsen wordt dit een nuttige plaats om bijbelstudies te vinden.
      %br
        Als bouwer van de site kan ik alleen maar zorgen dat de faciliteiten optimaal zijn.
      %p De huidige site is zeker nog niet af (maar is een platform ooit helemaal af?). Maar, de belangrijkste mogelijkheden zijn aanwezig. Je kan bijbelstudies plaatsen, lezen, en verwijderen (alleen je eigen bijbelstudies uiteraard). Ik heb nog veel idee&#xEB;n over meer mogelijkheden:
      %ul
        %li Bjibelstudies kunnen nu alleen aan 1 perikoop gekoppeld worden, maar soms wil je juist verbanden tussen twee gedeelten beschrijven - DONE (Summer 2018)
        %li Bijbelstudies kunnen nu alleen als 'platte tekst' worden ingevoerd. Een beetje opmaak zou mooi zijn - DONE (January 2019)
        %li Geven van commentaar op bijbelstudies van anderen
        %li Het geven van een waardering op bijbelstudies, misschien een soort Like-knop of 1-5 sterren, of iets dergelijks
        %li Het huidige overzicht van bijbelstudies is nu nog OK, maar als er veel bijbelstudies zijn moet dit wel anders
        %li Toevoegen van bijlagen aan bijbelstudies, filmjes misschien of audio
      = succeed "." do
        %p
          Bijbelstudies lezen kan iedereen op deze site. Als je een bijbelstudie wil plaatsen moet je eerst
          %a
          = new_user_registration_path
          \&gt; registreren en inloggen
    %p
    %p
      Heb je feedback over deze site, of idee&#xEB;n voor meer mogelijkheden?
      %A{:HREF => "mailto:andre.heijstek@hey.com"} Laat het me weten!
    %p Ik hoop dat door dit platform de kennis over Gods woord vergroot mag worden.
    %p Voor wie zich afvraagt wie er achter deze site zit: ik ben Andr&#xE9; Heijstek, in het dagelijks leven help ik organisaties die software ontwikkelen om dit steeds beter te doen. Daarnaast ben ik lid van de Sint Jansgemeente in Gouda.

    %p Groet.
