<div id="verse">
  <header>
    <h1> <%= @chapter.chapter_number %></h1>
  </header>
  <header>
    <h2><%= @verse.verse_number %></h2>
  </header>
  <%= simple_format(@verse.verse_number.to_s) %>
</div>
