<div id="verse">
  <header>
    <h1> <%= "Chapter #{@chapter.chapter_number}" %></h1>
  </header>
  <header>
    <h2><%= "Verse #{@verse.verse_number}" %></h2>
  </header>
  <%= simple_format(@verse.verse_text) %>
</div>
