<% title(@biblebook.name, "Biblebooks") %>

<h1><%= @biblebook.name %></h1>
<p><%= @biblebook.description %></p>

<%= link_to "Edit Biblebook", edit_biblebook_path(@biblebook) %>
<%= link_to "Delete Biblebook",
            biblebook_path(@biblebook),
            method: :delete,
            data: { confirm: "Are you sure you want to delete this bible book?" }
%>

