= simple_form_for [:admin, user] do |f|
  = f.input :username
  = f.input :email
  = f.input :password
  = f.input :admin, label: t("activerecord.attributes.user.is_admin")
  = f.button :submit, class: "btn btn-primary"
