%h4.panel-title
  %a.collapsed{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
    %h2= "#{title}  (#{t("studynote", count: count)})"
