%header
  %h1
    = t('activerecord.models.studynote', count: 2)
  %ul.actions
    %li
      = link_to t(:new_studynote), new_studynote_path, class: 'new', id: 'new_studynote'
-#
-# %ul.nav.nav-pills#myTabs
-#   %li.active.nav-item
-#     %a{"data-toggle" => "pill", :href => "#studynotes", id: 'studynotes_tab'} Bijbelstudies
-#   %li.nav-item
-#     %a{"data-toggle" => "pill", :href => "#tags", id: 'tags_tab'} Tags

%p

.container
  .row
    .col-md-8
      = render :partial => 'accordion',
  locals: { testament_counts: testament_counts, ot: ot, nt: nt, biblebook_counts: biblebook_counts }
    .col-md-4
      Tags

