<header>
  <h1><%= t(:pericopes) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div class="panel-group" id="accordion" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapse1" id="OT">
          Oude Testament
        </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse">
      <% @ot.each do |row| %>
          <div class="panel-body">
            <%= row.name %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Nieuwe Testament
        </a>
      </h4>
    </div>

    <div id="collapse2" class="panel-collapse collapse">
      <% @nt.each do |row| %>
        <div class="panel-body">
          <%= row.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>

