%header
  %h1
    = t('activerecord.models.studynote', count: 2)
  %ul.actions
    %li
      = link_to t(:new_studynote), new_studynote_path, class: 'new', id: 'new_studynote'
#mainAccordion.accordion
  .card
    #headingOt.card-header
      .mb-0
        %button.btn.btn-link{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#collapseOt', 'aria-expanded': 'true', 'aria-controls': 'collapseOt'}
          - ot_counts = testament_counts['oud'] || 0
          = "#{t('old_testament')}  (#{t("studynote", count: ot_counts)})"
        #collapseOt.collapse.show{'aria-labelledby': 'headingOt', 'data-parent': '#mainAccordion'}
          .card-body
        / nested accordion
        - ot.each_with_index do |book, index|
          - study_count = biblebook_counts[book.name] || 0
          .panel.panel-default
            #ot.panel-heading{:role => 'tab'}
              %h4.panel-title
                %a.collapsed{"data-parent": "#ot", "data-toggle": 'collapse', href: "#{book.name}"}
                  \#{"#{book.name} (#{study_count})"}
            = render :partial => 'book_table_ot', locals: { book: book }
          / end nested accordion

  .card
    #headingNt.card-header
      .mb-0
        %button.btn.btn-link{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#collapseNt', 'aria-expanded': 'false', 'aria-controls': 'collapseNt'}
          - nt_counts = testament_counts['nieuw'] || 0
          = "#{t('new_testament')}  (#{t("studynote", count: nt_counts)})"
        #collapseNt.collapse.show{'aria-labelledby': 'headingNt', 'data-parent': '#mainAccordion'}
          .card-body
        / nested accordion
        - nt.each_with_index do |book, index|
          - study_count = biblebook_counts[book.name] || 0
          .panel.panel-default
            #nt.panel-heading{:role => 'tab'}
              %h4.panel-title
                %a.collapsed{"data-parent": "#nt", "data-toggle": 'collapse', href: "#{book.name}"}
                  \#{"#{book.name} (#{study_count})"}
            = render :partial => 'book_table_nt', locals: { book: book }
        / end nested accordion

