<header>
  <h1><%= t(:pericopes) %> </h1>
  <ul class="actions">
    <%= link_to t(:new_studynote), new_studynote_path, class: "new" %>
  </ul>
</header>

<div id="pericopes">
  <table id="pericopes">
  <% @pericope.each do |pericope| %>
    <tr>
      <td><%= pericope.name %></td>
      <td><% sn = Studynote.find(pericope.studynote_id) %>
      <%= link_to sn.title, sn %></td>
    </tr>
<% end %>
  </table>
</div>


