!!!
%html{:lang => 'nl'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        = t(:biblestudy_platform)
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    / Google Analytics
    = render :partial => 'shared/google_analytics'
    = javascript_tag do
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
  %body
    .container
      %header
        = render 'layouts/navigation'
      %main
        = render 'layouts/messages'
        = yield
